body {
    background-color: plum;


}
header {
    background-color: #FAE0FF;
    text-align: center;
    margin: 0px auto;
    max-width: 800px;
}

main {
    background-color: #FAE0FF;
    text-align: center;
    margin: 0px auto;
    max-width: 800px;



}